<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
		<title>Dettagli buffet - vista admin</title>
		<link rel="stylesheet" href="/dettagli.css"/>    
	</head> 

	<body>
	<header> 
		<div id="titolo"><strong class="titolo">Dettagli buffet con piatti</strong></div>
	</header>
	
	<section>
			<div class="flex-container">
			
				<div class="flex-dati">
					<div class="sezione">	
						<p>
							<span ><strong>Nome buffet: </strong></span>
							<span th:text="${buffet.nome}">Buffet generico</span>
						</p>
						<p>
							<span><strong>Descrizione buffet: </strong></span>
							<span  th:text="${buffet.descrizione}">Descrizione generica</span>
						</p>
						<p>
							<span ><strong>Nome chef: </strong></span>
							<span >
								<a th:text="${buffet.chef}" th:href="@{'/chef' + '/' + ${buffet.chef.id}}">Chef</a>
							</span>
						</p>
					</div>
				
				</div>
				
				<div class="flex-foto">
					<div class="fotografia">
						<img style="border: 3px solid green"  src="../buffet.jpg" alt="Image" height="300" width="360">
					</div>
				</div>
				
			</div>
	</section>
	
	<div th:if="${!buffet.piatti.empty}">
	
		<div class="sezione">
			<p><strong>PIATTI PRESENTI NEL BUFFET:</strong></p>
		</div>		
		
		<div class="sezione">	
			<ul>
				<li th:each="piatto : ${piatti}">
					<p class="desc">
						<span>
							<a href="piatto.html" th:href="@{'/piatto' + '/' + ${piatto.id}}"
							   th:text="${piatto.nome}">Piatto</a>
						</span>
						<span>
							<a href="#" th:href="@{'/buffet' + '/' + ${buffet.id} + 
								'/removePiatto' +'/' + ${piatto.id}}"><strong class="elimina">ELIMINA</strong></a>
						</span>
					</p>
				</li>	   	
			</ul>
		</div>
	</div>

	<div class="sezione">
			<a th:href="@{/home}"><strong class="top">Home</strong></a>
	</div>
</html>