<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
		<title>Dettagli piatto - vista admin</title>
		<link rel="stylesheet" href="../../../dettagli.css"/>  
	</head> 

	<body>
		<header> 
			<div id="titolo"><strong class="titolo">CATERING SRL: DETTAGLI DEL PIATTO CON GLI INGREDIENTI</strong></div>
		</header>
		
		<section>
			<div class="flex-container">
				<div class="flex-dati">
	
					<div class="sezione">
						<p>
							<span ><strong class="descrizione">Nome piatto: </strong></span>
							<span th:text="${piatto.nome}">Nome generico</span>
						</p>
						<p>
							<span><strong class="descrizione">Descrizione piatto: </strong></span>
							<span  th:text="${piatto.descrizione}">Descrizione generica</span>
						</p>
					</div>
					
					<div th:if="${!piatto.buffets.empty}">
						<div class="sezione">
							<p>
								<span ><strong>BUFFET IN CUI E' INCLUSO: </strong></span>
	
							<ul>
								<li th:each="buffet: ${piatto.buffets}">
									
										<span>
											<a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}"
									   		th:text="${buffet.nome}">Buffet generico</a>
									   	</span>
									
								</li>	
							</ul>
							
							</p>
						</div>
					</div>
					
				</div>
				
				<div class="flex-foto">
					<div class="fotografia">
						<img style="border: 3px solid green"  src="../../piatto.jpg" alt="Image" height="300" width="360">
					</div>
				</div>	
				
			</div>
		</section>
		
		<div th:if="${!piatto.ingredienti.empty}">
			<div class="sezione">
				<h4>INGREDIENTI PRESENTI NEL PIATTO:</h4>
				<ul>
					<li th:each="ingrediente: ${piatto.ingredienti}">
						<p class="desc">
							<span>
								<a href="ingrediente.html" th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}"
						   		th:text="${ingrediente.nome}">Ingrediente</a>
						   	</span>
						   	<span>
								<a href="#" th:href="@{'/piatto' + '/' + ${piatto.id} + 
									'/removeIngrediente' +'/' + ${ingrediente.id}}"><strong class="elimina">ESCLUDI DAL PIATTO</strong></a> 
						   	</span>
						</p>
					</li>	
				</ul>
			</div>
		</div>
		
		<div th:if="${!ingredientiAssenti.empty}">
		<div class="sezione">
			<p >
				<h4>VUOI AGGIUNGERE INGREDIENTI AL PIATTO TRA QUELLI DISPONIBILI?</h4> 
				<ul>
					<li th:each="ingrediente: ${ingredientiAssenti}">
						<p class="desc">
							<a href="ingrediente.html" th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}"
							   th:text="${ingrediente.nome}">
							   Ingrediente</a>
							<a href="#" th:href="@{'/piatto' + '/' + ${piatto.id} + '/' + ${ingrediente.id}}">
								<strong class="conferma">Aggiungi al piatto</strong></a>
						</p>
					</li>	   	
				</ul>
		</div>
		</div>
		
		<div class="sezione">
			<a th:href="@{/home}"><strong class="top">Home</strong></a>
		</div>
	</body>
	
</html>