<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Registrazione</title>		
	<link rel="stylesheet" href="../form.css"/>	
</head>

<body>
	<header> 
		<div id="titolo"><strong class="titolo">CATERING SRL: REGISTRZIONE</strong></div>
	</header>
	
	<div  class="sezione">
		<div class="fotografia">
			<img style="border: 3px solid green  "src="/images/testata_new.jpg" alt="Image" height="100%" width="100%">
		</div> 
    </div>

	<div  class="sezione">
    	<h2>Registra un nuovo utente</h2>
		<form th:action="@{/register}" method="POST">

		    <table>
		        <tr>
		            <td><strong>Username: </strong></td>
		            <td><input type="text" placeholder="username" required
		                       th:field="${credenziali.username}"/></td>
		            <td th:if="${#fields.hasErrors('credenziali.username')}"
		                th:errors="${credenziali.username}" th:style="'color:red'"></td>
		        </tr>
		        <tr>
		            <td><strong>Password: </strong></td>
		            <td><input type="password" placeholder="password" required
		                       th:field="${credenziali.password}"/></td>
		            <td th:if="${#fields.hasErrors('credenziali.password')}"
		                th:errors="${credenziali.password}" th:style="'color:red'"></td>
		        </tr>
		        <tr>
		            <td><strong>Nome</strong></td>
		            <td><input type="text" placeholder="nome" required
		                       th:field="${utente.nome}"/></td>
		            <td th:if="${#fields.hasErrors('utente.nome')}"
		                th:errors="${utente.nome}" th:style="'color:red'"></td>
		        </tr>
		        <tr>
		            <td><strong>Cognome</strong></td>
		            <td><input type="text" placeholder="cognome" required
		                       th:field="${utente.cognome}"/></td>
		            <td th:if="${#fields.hasErrors('utente.cognome')}"
		                th:errors="${utente.cognome}" th:style="'color:red'"></td>
		        </tr>
		        <tr>
		            <td>
		                <button type="submit"><strong class="log">Registra</strong></button>
		            </td>
		        </tr>
		    </table>
		</form>
	</div>
	
	<div  class="sezione">
    	<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
	</div>
</body>
</html>
